body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444;
    background: lightgray;
}
.introleft{
background: url(img/Screenshot\ 2022-01-15\ 130433.png);
position: fixed;
left: 0;
width: 31.5%;
height: 100%;
color: ivory;
background-size: 100vh;
}

@media(max-width: 768px) {
    .introleft {
    height: 30vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    }
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
   float: right;
}

section {
    margin: 5rem;
    font-size: 1.5rem;
}
h2 {
    text-align: center;
}

a{
    color: #444;
    text-align: center;
}
.number {
    color: #444;
    text-align: center;
}